@import '../../utilities/variables';

header {
  display: flex;
  justify-content: space-between;
  font-family: 'Merriweather', serif;

  background-color: $primary-green;
  padding: 1.5rem 4rem;

  .header-title {
    font-size: xx-large;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $primary-black;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: larger;
      text-decoration: none;
      color: $primary-black;
      padding: 1.4rem;
      border-spacing: 2rem;

      &:hover {
        font-weight: bolder;
      }
    }
  }
}

