@import 'utilities/variables';


.container-matmatikk {
  flex: 1;

  .container-top {
    background-color: $primary-green;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
}

.heading-matmatikk {
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.btn-matmatikk {
  font-size: large;
  font-family: "Roboto", serif;
  padding: 1rem 1rem;
  border-radius: 4px;
  border: 1px solid $primary-white;
  cursor: pointer;
  background-color: $primary-green;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    border: 1px solid $primary-black;
  }
}
